/* Pets2 demo css file */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

@layer utilities {
  .link-active {
    border-color: white;
  }

  #user-navigation .link-active svg,
  #mobile-user-navigation .link-active svg {
    background-color: rgb(3, 174, 156);
    color: white;
  }

  
  
}


div.swiper-pagination-bullets>span.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  margin: auto 4px;
}

.swiper-pagination-bullet-active {
  background-color: #03ae9c;
}


/* Tab Nav */
.tab-content{display: none;}
.tab-content.active{display: block;}

/* basic modal styles */
body.modal-open {
  overflow: hidden;
}

body.modal-open #breedGallery{
  display: flex;
}


/* Profile top images */
/* .desktopHeroImages{} */
.desktopHeroImages img,
.desktopHeroImages .editImage {
  position: static;
  top:auto;
  bottom: auto;
  right: auto;
  left: auto;
  height: 50vh;
  max-height: 52vh;
  object-fit: cover;
}




/* lodaing in svg's - as background images */

button.modal-photos{
  display: inline-block;
}
button.modal-photos::after{
  display: inline-block;
  content: '';
  width:18px;
  height:17px;
  color: white;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0id2hpdGUiPgogIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNOSA1bDcgNy03IDciIC8+Cjwvc3ZnPg==") no-repeat;
  vertical-align: middle;
  margin: 0 0 0 0.25rem;
}

button.edit-section::before{
  display: inline-block;
  content: '';
  width:18px;
  height:17px;
  color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z' /%3E%3C/svg%3E");
  
  vertical-align: middle;
  margin: 0 0 0 0.25rem;
}

button.favourite-btn{
  display:inline-block;
}
button.favourite-btn::before{
  display:inline-block;
  content: '';
  width:18px;
  height:17px;
  background: url('../images/svg/heart.svg') no-repeat;
  vertical-align: middle;
  margin: 0 0.5rem 0 0;
}


button.report-btn{
  display:inline-block;
  margin: 0;
  padding: 0.25rem;
}

button.report-btn::before{
  display:inline-block;
  content: '';
  width:1.5rem;
  height:1.5rem;
  background: url('../images/svg/report.svg') no-repeat;
  vertical-align: middle;
}

button.question-btn{
  display:inline-block;
  position: relative;
}

button.question-btn::after{
  display: inline-block;
  content: '';
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0id2hpdGUiPgogIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTQgNWw3IDdtMCAwbC03IDdtNy03SDMiIC8+Cjwvc3ZnPg==") no-repeat;
  height:22px;
  width:21px;
  vertical-align: middle;
  position:absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.pp-verified{
  padding-left: 2rem;
  position: relative;
  display:block;
}

.pp-verified::before{
  content:'';
  display: inline-block;
  background: url('../images/svg/verified.svg') no-repeat;
  vertical-align: middle;
  height:23px;
  width:25px;
  position: absolute;
  left:0;
}

.pp-cross{
  padding-left: 2.5rem;
  position: relative;
  display:block;
}
.pp-cross::before{
  content:'';
  display: inline-block;
  background: url('../images/svg/cross.svg') no-repeat;
  vertical-align: middle;
  height:27px;
  width:29px;
  position: absolute;
  left:0;
}

.pp-tick{
  padding-left: 2.5rem;
  position: relative;
  display: block;
}
.pp-tick::before{
  content:'';
  display: inline-block;
  background: url('../images/svg/tick.svg') no-repeat;
  vertical-align: middle;
  height:27px;
  width:29px;
  position: absolute;
  left:0;
  z-index: 1;
}

/* socials */
.fb-svg{
  display:block;
  position: relative;
  padding-left: 2.5rem;
}
.fb-svg::before{
  content: '';
  display: inline-block;
  background: url('../images/svg/facebook.svg') no-repeat;
  position: absolute;
  left: 0;
  vertical-align: middle;
  height: 22px;
  width: 21px;
  top: 50%;
  transform: translateY(-50%);
}
.insta-svg{
  display:block;
  position: relative;
  padding-left: 2.5rem;
}
.insta-svg::before{
  content: '';
  display: inline-block;
  background: url('../images/svg/web.svg') no-repeat;
  position: absolute;
  left: 0;
  vertical-align: middle;
  height: 22px;
  width: 21px;
  top: 50%;
  transform: translateY(-50%);
}
.web-svg{
  display:block;
  position: relative;
  padding-left: 2.5rem;
}
.web-svg::before{
  content: '';
  display: inline-block;
  background: url('../images/svg/web.svg') no-repeat;
  position: absolute;
  left: 0;
  vertical-align: middle;
  height: 26px;
  width: 24px;
  top: 50%;
  transform: translateY(-50%);
}
